.first_box {
    background-color: red;
    width: 170px;
    height: 70px;
    position: absolute;
    border-style: solid;
    border-color: green;
    border-width: 15px;
    color: blue;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

.second_box {
    background-color: yellow;
    width: 170px;
    height: 70px;
    position: absolute;
    left: 250px;
    border-style: solid;
    border-color: red;
    border-width: 15px;
    color: blue;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

.third_box {
    background-color: green ;
    width: 170px;
    height: 70px;
    position: absolute;
    left: 500px;
    border-style: solid;
    border-color: yellow;
    border-width: 15px;
    color: blue;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}